[2021-02-23 15:46] frasanz opened #1 "Add filter"
Add filter in the frontend by:

Type
Subtype
Date
Hedonic Tone
Intensity

The filter will be implemented in js but not downloading data through the API

You should filter using one, two, three....of them. I.e. You can select on type of odour with intensity=3 ...

**To Be decided**
What to show in Mobile Phones

@EmpressNaledi , do I miss something?

[2021-03-04 08:50] frasanz opened #2 "Published at: wrong"
when showing an observation in the frontent, show upload at instead of published at

[2021-03-04 08:57] frasanz opened #3 "Filter.Subtype.88"
when showing the details of an observation. It´s showed Filter.Subtype.88 instead of the subtype name

[2021-03-04 09:55] #3 closed, assigned to vvalvesga

[2021-03-04 10:14] #2 closed, assigned to vvalvesga

[2021-03-08 14:16] frasanz opened #4 "Solve prolor API"

[2021-03-08 14:18] frasanz opened #5 "GDPR"

[2021-03-15 11:55] vvalvesga opened #6 "GDPR - Change register"
Registry. Ask only email (I think it is not worth even nickname), password, age range, gender and preferred language in the registration. In the case of gender, add that you do not want to specify that information.

[2021-03-15 11:56] vvalvesga opened #7 "GDPR - cookie policy"
Include the text (and pop-up) of the cookie policy

[2021-03-15 12:02] vvalvesga opened #8 "GDPR - users list"
change the list of users in the backoffice so that only one user can be ADD based on their ID but no more information about this user can be accessed (such as Zone Admin, such as superadmin yes).

[2021-03-15 12:03] vvalvesga opened #9 "GDPR - delete user info in Observations"
an observation / case study / ..., you should only be able to see the ID of the user, neither name nor surname or anything.

[2021-03-15 12:13] vvalvesga opened #10 "GDPR - User functionalities"
Ensure that a user can know their user ID and can delete, consult, download their added data in CSV. And can unsubscribe.

[2021-03-15 12:14] vvalvesga opened #11 "GDPR - users data"
User data should be saved until the end of the project and up to one year after their last login. In order to do that we have to schedule reminders (emails) at 6 months and 1 month that will unsubscribe if a user has not logged in.

[2021-03-15 12:18] vvalvesga opened #12 "GDPR - minors"
2 more boxes should be added in the user registry. Under 13 years old and between 13 and 20 years old. In the first case, OdourCollect should appear a notice indicating that it cannot be logged in and in the second case it should facilitate access to the document where the age that each country recognizes as that your data should be protected is collected. Each country is different, what we have i

[2021-03-15 12:18] vvalvesga opened #13 "GDPR - old enough ckeckbox"
We must add the checkbox according to the user "affirms" that he is old enough so that his data is not protected.

[2021-03-15 12:19] vvalvesga opened #14 "GDPR - Change protection pages"
change the data protection documents so that it adequately includes these changes.

[2021-03-18 10:50] #12 closed, assigned to nobody

[2021-03-18 10:50] #9 closed, assigned to nobody

[2021-03-18 10:50] #8 closed, assigned to nobody

[2021-03-18 11:00] #13 closed, assigned to nobody

[2021-03-18 12:10] #6 closed, assigned to nobody

[2021-03-24 21:31] vvalvesga opened #15 "statistics change in 30 seconds"
When you select a case study in the **statistics** part (Back-office) the observations of the case study are seen but after 20-30 seconds they automatically switch to all observations

[2021-03-24 21:47] vvalvesga opened #16 "observations filter in backoffice"
In the list view, all observations (Back-office) appear by default, although inside there are Published, Unverified and Deleted observations. Only the "Published" ones should appear by default. On the other hand, you should be able to select if they are Published, Unverified or deleted and download the ones you want. Right now you can only select Published and Unverified (the deleted ones do not a

[2021-03-24 21:50] vvalvesga opened #17 "error in observations to verify as zone admin"
As Superadmin no problem but as Zone Admin, when you want to select observations to verify this error appears:

![imatge](https://user-images.githubusercontent.com/48445869/112388298-3dff1180-8cf3-11eb-8d8e-93186bae397b.png)

[2021-03-25 07:40] EmpressNaledi opened #18 "Case Study filter"
The case study filter on the map interface within the dashboard should either be removed, as it currently does nothing, or be activated so it filters accordingly.

[2021-03-29 14:40] EmpressNaledi opened #19 "Filtering interface on small screens"
I would suggest removing or providing an alternative interface design for small screens as the current layout doesn't work on a phone

[2021-04-05 09:36] vvalvesga opened #20 "observations verified automatically"
in backend - dashboard -> all the observations now are supposed to be "verified" automatically

[2021-04-05 09:37] vvalvesga opened #21 "separate the "day and time" in xlsx"
separate the "day and time" of the odour observations in two different columns when you download the excel in the backoffice.

[2021-04-06 12:41] vvalvesga commented on #21
Also, change user field (nameuser) for user id

[2021-04-06 15:07] vvalvesga opened #22 "translation subtype "basurero""
mistake in the translation into Spanish - in the "urban" type of odour, the subtype "basurero" should be "contenedor de basura"

[2021-04-08 10:40] #22 closed, assigned to nobody

[2021-04-08 10:45] #21 closed, assigned to nobody

[2021-04-08 10:50] #1 closed, assigned to nobody

[2021-04-09 09:30] Malonsoroldan opened #23 "Backend - hide email from user list"
In the user list, emails should be hidden from the list

[2021-04-09 09:41] Malonsoroldan opened #24 "Backend - user - ID should be displayed instead of the user name"
When opening a user, the ID should be displayed instead of their names. Also, email address should be removed

![image](https://user-images.githubusercontent.com/38461022/114161038-e0400b80-9927-11eb-9bfb-e92db9e65431.png)

[2021-04-09 09:43] Malonsoroldan opened #25 "Backend - user download - hide emails"
When downloading the user list, emails should not be displayed on the table.

![image](https://user-images.githubusercontent.com/38461022/114161875-cf43ca00-9928-11eb-816d-18a71a78ea61.png)

[2021-04-09 09:45] Malonsoroldan opened #26 "Backend - user download - add number of observations and registration date"
When downloading the user list, add the number of observations and the registration date so we can understand which GDPR version did they agree to.

[2021-04-09 09:47] frasanz opened #27 "Hide change password in users"
<img width="1373" alt="Captura de pantalla 2021-04-09 a las 11 47 34" src="https://user-images.githubusercontent.com/456573/114162459-69a40d80-9929-11eb-8106-a426e1aff42e.png">

[2021-04-09 09:51] Malonsoroldan opened #28 "Backend - user list - hide "send email" option"
To hide the "send email" option in the user list for the moment

[2021-04-09 09:52] frasanz opened #29 "Hide "send email option" in user list"
<img width="229" alt="Captura de pantalla 2021-04-09 a las 11 51 14" src="https://user-images.githubusercontent.com/456573/114162992-f64ecb80-9929-11eb-8047-71be7b1943e7.png">

[2021-04-09 10:40] #15 closed, assigned to nobody

[2021-04-12 06:41] #23 closed, assigned to nobody

[2021-04-12 06:53] #24 closed, assigned to nobody

[2021-04-12 07:31] #25 closed, assigned to nobody

[2021-04-12 08:14] #5 closed, assigned to nobody

[2021-04-12 09:41] #29 closed, assigned to nobody

[2021-04-12 09:44] #27 closed, assigned to nobody

[2021-04-12 09:55] #28 closed, assigned to nobody

[2021-04-14 13:53] Malonsoroldan opened #30 "Password recovery not functioning"
The "Forgot password" option doesn't trigger the action.
It looks like the email is sent, but we never get it.
Reported by a Southall user and tested by MfC.
I've set to urgent as we've disabled the option to assign manually a new password from the admin.

[2021-04-15 10:23] #30 closed, assigned to nobody

[2021-04-15 10:58] #16 closed, assigned to nobody

[2021-04-16 07:39] Javier-Gasca commented on #18
![image](https://user-images.githubusercontent.com/82105889/114988954-374d5f80-9e97-11eb-9d2c-0f7f6beb8d68.png)
The mentioned filter does not exist, check it again and send a screenshot

[2021-04-23 11:58] frasanz commented on #4
The API is now working, only needed to pass the correct url to the code

[2021-04-23 12:27] frasanz opened #31 "Check prolor resolution with Anxo, also find a solution for observations between 20/07/20 to today"
Barcelona 100 meters (1 pilot - Barcelona)
Rest pilots: 1 km (6 pilots)  Barcelona, Thessaloniki, UK, Italia, Lipor, SJM

[2021-04-23 12:29] EmpressNaledi opened #32 "Could you please check the list of "subtypes of odours" under the industrial category?"
At least in my phone it is cut, I cannot see all the categories! (probably linked to screen resolution) new iPhone 12 Pro

[2021-04-23 12:35] frasanz commented on #19
Also (at least in iphone 12) you need to scroll to see all the list of categories

[2021-04-23 12:54] frasanz opened #33 "Check unverified"
Check

- [x] An observation is verified by default
- [x] If the observation is check as unverified, the observation doesn´t appear in the front-end map

[2021-04-23 12:55] frasanz opened #34 "My odors doesn´t work"

[2021-04-23 13:00] Malonsoroldan opened #35 "The observations imported via CSV should be validated automatically"
To check whether imported observations are automatically validated or not. They should be validated automatically

[2021-04-23 13:01] EmpressNaledi opened #36 "Granting Permission without validation"
The option to grant permission without validation option no longer makes any sense in terms of the current functionality since they are automatically validated

[2021-04-23 13:08] Malonsoroldan opened #37 "How to appoint a user as a zone manager?"
I've tried to appoint a user as a zone manager of a case study via the 'user' panel, but I got an error 'Oops! Check all the fields'. I've got no possibility to choose anything else rather than the type of user (so I can't specify which case study).
![image](https://user-images.githubusercontent.com/38461022/115874989-0d6edc80-a445-11eb-84b8-740b2fe9f5b4.png)

The second option I have tried is to

[2021-04-23 13:09] RosaArias commented on #19
I have the issue with iphone 12 Pro and both in iPhone 12 Pro and in my old iPhone 7 in cannot see the complete list of odour subtypes for the category of "industrial odours" - for the rest of types of odours is fine since the list of subtypes are shorter.
Also, the button of "next" can only be seen partially, or you need to drag down.
Also, the filters are not displayed well and are not usable (s

[2021-04-23 13:10] Malonsoroldan opened #38 "Grant permission to publish without validation"
What does this actually do? If it does nothing, should we hide or remove?
![image](https://user-images.githubusercontent.com/38461022/115875846-f1b80600-a445-11eb-8646-aaa28c798f13.png)

[2021-04-23 13:10] RosaArias commented on #35
Verified (9275) / Unverified (99) observations: To be checked
- All observations are verified automatically (issue #20 ).
- If we unverify an observation, then it has to disappear from the map in the front (issue #20 ) - in this case, the citizen should be informed, but we still have the problem with the notification, so we cannot do that (no bilateral communication).
- With the .csv file, all the

[2021-04-23 13:21] #4 closed, assigned to frasanz

[2021-04-26 16:12] RosaArias opened #39 "Registration to the app seems not to be working fine!"
I receive this message on Friday:
I cannot seem to sign up with the app, I have inserted all data
requested but the button "Sign up" seems inactive, so I cannot test it
myself.
And yesterday a different person told me the same: he was trying to register, but the process did not work (in an iPhone).
Could you please check it? Many thanks!

[2021-04-28 08:56] EmpressNaledi commented on #20
When checking whether this automatic verification happens, we also need to check that when an admin unverifies an observation, that it disappears from the map in the frontend.

[2021-04-28 09:01] #36 closed, assigned to nobody

[2021-04-28 09:02] EmpressNaledi commented on #36
Duplicate issue

[2021-04-28 09:02] EmpressNaledi commented on #35
Linked to issue #20

[2021-04-28 09:06] EmpressNaledi opened #40 "Need to check/confirm that pushing new updates to the live server doesn’t impact the email password reset"
Linked to closed issue #30

[2021-04-28 10:51] Javier-Gasca commented on #17
can you check again and describe with more detail what's or where is the problem?

[2021-04-28 11:04] Javier-Gasca commented on #34
it's working now.I close it

[2021-04-28 11:04] #34 closed, assigned to nobody

[2021-04-28 11:22] EmpressNaledi opened #41 "Mismatch for # of observations in OC/Dashboard Stats vs CSV download"
There appear to be a consistent mismatch between the # of observations shown in the CSV download against those shown on the statistics page in the Dashboard and observations in OC - the latter 2 both have the same numbers. It seems to consistently be out by 4; 4 less in the CSV download compared to the frontend. The fact that there are less in the download means it can't be linked to deleted obser

[2021-04-28 11:23] Javier-Gasca opened #42 "Delete user from case study manage don't work"
In CASE STUDY -> CASE STUDY LIST -> MANAGE (any case study) you can't delete users from the list
![image](https://user-images.githubusercontent.com/82105889/116395884-f9e8ba80-a824-11eb-9efc-9d941cb03e99.png)

[2021-04-28 11:24] EmpressNaledi opened #43 "Filtering/Validation/Classification Bug"
A detailed description with screenshots is provided in the attached

[2021-04-28 11:25] EmpressNaledi commented on #43
[Bug Report_280421.docx](https://github.com/Ibercivis/odourcollect.eu/files/6391461/Bug.Report_280421.docx)

[2021-04-28 11:51] EmpressNaledi commented on #38
@Javier-Gasca I closed 1 of the duplicates (issue #36 ) is there also another duplicate somewhere else?

[2021-04-28 11:55] #38 closed, assigned to nobody

[2021-04-28 11:59] EmpressNaledi commented on #20
Linked to issue #33

[2021-04-29 13:52] JohanaSfC commented on #39
![image](https://user-images.githubusercontent.com/83076037/116562761-10485200-a8c9-11eb-8c31-96d7fc360d53.png)

Improve the display of the "Age" field. It is common that people do not fill in this information and therefore cannot register.
(Underline the field that is missing to be completed)

[2021-04-30 10:02] miguelherpas opened #44 "Filtering in the mobile verison (duplicated n#19)"
When you want to filter in the mobile, it is not possible to differenciate between the scale for intensity and hedonic tone. I am currently using a Xiaomi Mi A1. I propose splitting the parameters in two different lines, but it mighht
Please, find attached the screenshot of this problem.
Best regards!
![WhatsApp Image 2021-04-30 at 11 56 18](https://user-images.githubusercontent.com/83075623/11667

[2021-05-04 16:07] EmpressNaledi opened #45 "Time Zone"
Need to check how the timestamp is created in OC & stored in the dashboard - compared to local user timezones

[2021-05-05 11:33] #35 closed, assigned to Javier-Gasca

[2021-05-05 12:27] EmpressNaledi commented on #37
I've tested this in the pre-production & it's working. However, it wasn't super intuitive.
The text says "Remember that in order to add a user as zone admin, you must have a zone assigned" but it's not obvious that you need to scroll down and select ADD from the Zone List at the bottom of the screen.

I suggest to reword this text to say:
"Remember, to add a user as Zone Admin, first you need to e

[2021-05-05 13:09] EmpressNaledi commented on #39
This is no longer a bug but a usability issue that should be addressed before closing

[2021-05-05 13:11] EmpressNaledi commented on #39
Usability feedback:
I think that the problem for the users is that the field "age" is not so much visible and they may skip this field, so the registration is not completed and does not work (more than a bug issue). Maybe we can make this field more visible with a square or something to select from the drop out list, so new users do not miss it and it does not happen again

[2021-05-05 13:24] EmpressNaledi opened #46 "Intensity Scale inconsistent wording"
Scale options are 1-6 but the text states 0-6; where 0 is not an option

![Intensity-inconsistent](https://user-images.githubusercontent.com/12254027/117147801-81967200-adad-11eb-9c0a-a9e4408e28ee.PNG)

[2021-05-05 13:31] EmpressNaledi opened #47 "Odour Type 'Other' - Subtype error & typo"
Selecting Other for odour type - the text under the text box should be seen as shown. Odour is also spelled incorrectly 'odor'
![Other_odour_subtype_and_typo](https://user-images.githubusercontent.com/12254027/117148639-52cccb80-adae-11eb-86b7-98c3c165e1e1.PNG)

[2021-05-05 13:36] EmpressNaledi commented on #45
Looking at the timestamp in the dashboard gives me CET so the data is out by 1hr for those capturing in GMT. Needs also to be tested with users in other time zones

[2021-05-05 13:43] EmpressNaledi commented on #33
Where and how do you unverify now?

[2021-05-07 12:12] vvalvesga commented on #37
Replace text suggest for Louise

[2021-05-07 12:17] EmpressNaledi commented on #26
Is it worth renaming the column “Number of observations” to “Number of observations in Odour Collect”

[2021-05-07 12:21] EmpressNaledi commented on #32
Is there something to indicate to the user that they need to scroll down to see more? Maybe add a down arrow for mobile users to indicate that the list is longer

[2021-05-07 12:58] EmpressNaledi commented on #33
Need to add a new button to the observation list that says ‘Unverified’
Linked to this issue and functionality should include renaming the 'visible' button which is accessible when viewing an observation in the backend to 'Verified'
![imageoc](https://user-images.githubusercontent.com/12254027/117453920-6a868a00-af3d-11eb-92d1-03485e3ac885.PNG)

[2021-05-07 13:16] EmpressNaledi opened #48 "Zone Admin - Email notification set-up"
The idea of developing an email notification system that can be generated [for Zone Admins] when specific criteria are met defined by select variables. Potential variables could include:
no. of observations within a  24hr period
Odour type/s list selection
Waste
Waste water...
Hedonic tone - customisable - for each category selected

-> An email should be sent to the zone admin  if ALL the conditi

[2021-05-07 13:18] Malonsoroldan commented on #48
![image](https://user-images.githubusercontent.com/38461022/117455281-547dc700-af47-11eb-9aed-3b2d54458db9.png)
Could be added under the 'users' box

[2021-05-07 13:22] Malonsoroldan commented on #7
@Malonsoroldan to provide the text to Victor

[2021-05-10 09:46] #26 closed, assigned to Javier-Gasca

[2021-05-12 08:41] #42 closed, assigned to Javier-Gasca

[2021-05-12 08:44] #20 closed, assigned to nobody

[2021-05-12 08:45] vvalvesga commented on #20
i close because it's checked in #33

[2021-05-12 09:00] #46 closed, assigned to Javier-Gasca

[2021-05-12 11:55] #39 closed, assigned to Javier-Gasca

[2021-05-14 08:27] EmpressNaledi commented on #47
Odour is spelled incorrectly here 'odor'

[2021-05-14 08:36] #47 closed, assigned to Javier-Gasca

[2021-05-14 09:02] EmpressNaledi commented on #37
The text in https://admin.odourcollect.eu/admin/user hasn't changed
![image](https://user-images.githubusercontent.com/12254027/118247775-7cb37b80-b49b-11eb-9dc6-2c2806bfd06d.png)

[2021-05-14 09:51] vvalvesga commented on #37
Not in production yet

[2021-05-14 09:51] #37 closed, assigned to Javier-Gasca

[2021-05-19 11:47] vvalvesga commented on #40
Done

[2021-05-19 11:47] #40 closed, assigned to vvalvesga

[2021-05-20 14:09] EmpressNaledi commented on #41
I've just revisited this and noted the following:

1. Downloaded observations for Southall
2. CSV shows last observation dated 12/05
3. Check OC using filter date range 11/05-20/05. This shows 3 obsv; 2 for the 12/05 and 1 for 19/05
4. Need to investigate why the obsv from the 19th doesn't show-up in the downloaded made on the 20/05
5. In addition, if you filter obsv in the dashboard to Southall b

[2021-05-20 14:21] EmpressNaledi commented on #39
@Javier-Gasca can you provide a description of the solution implemented along with a screen dump please

[2021-05-21 12:26] EmpressNaledi commented on #14
@AlexAmoSfC to provide the necessary text

[2021-05-21 12:54] AlexAmoSfC commented on #17
I will try, with the help @miguelherpas

[2021-05-21 16:22] AlexAmoSfC commented on #17
We have tried to reproduce the issue, clicking on "verify" when in dashboard (Miguel has set my username as zone admin in advance, as per your indications).

![Anotación 2021-05-21 182002](https://user-images.githubusercontent.com/83209147/119168505-4361a980-ba61-11eb-8a6b-23046561c327.png)

I attach the screenshot of the result, but we have doubts, since the steps to reproduce the issue are a bit

[2021-05-25 08:38] AlexAmoSfC commented on #14
According to conversation with Rosa Arias, this task was assigned to @frasanz and @vvalvesga prior to my joining (sorry, didn't know! no one commented at the meeting), hence I cannot directly assume this duty. Anyway, of course I'd be more than happy to help them finish the texts, which would be easy to build on top of the examples provided by mapping for change.
Rosa has sent an email to them ask

[2021-05-25 09:42] AlexAmoSfC commented on #45
Android Emulator set up in Chatham Islands, New Zealand (UTC+12:45)
at the time of annotation, it was 22:13 local time in Chatham Islands, 11:28 local time in Spain.
Hope it helps.

![Screenshot_1621935404](https://user-images.githubusercontent.com/83209147/119475990-ed854e00-bd4d-11eb-95c6-d6d686140d45.png)

[2021-05-25 09:49] AlexAmoSfC opened #49 "Emails sent to user (laravel) seem not to indicate username properly"
"name" var is set to "username" instead of the real user name.
![Anotación 2021-05-25 114610](https://user-images.githubusercontent.com/83209147/119476929-d1ce7780-bd4e-11eb-9f1e-21584414d415.png)
EDIT: (not email template related, but variable storage related)

[2021-05-25 10:15] miguelherpas opened #50 "Layout problems in the hedonic tone screen"
Attached two screenshots of the issue, where the texts are overlaped. The smartphone was  a Xiaomi Redmi 8A with Android 10.

![Screenshot_2021-05-25-11-59-55-844_es nobone manchesterwebapp](https://user-images.githubusercontent.com/83075623/119480986-7e5e2880-bd52-11eb-8ee5-55528e8760aa.jpg)
![Screenshot_2021-05-25-11-59-20-065_es nobone manchesterwebapp](https://user-images.githubusercontent.com

[2021-05-25 10:18] EmpressNaledi commented on #14
This is a task for Ibercivis as the data controller so whether it's @Rosa @frasanz or @vvalvesga - they need to agree internally and update as a matter of urgency. @frasanz maybe handling the technical development but this may not mean that he also compiling the necessary text. Regardless, this needs to be addressed.

[2021-05-25 10:26] AlexAmoSfC commented on #50
I would suggest to reduce textview.setTextSize in levels -4/4 for a quick patch, but fluid layout is recommended (there's plenty of vertical space on top of the circle)

[2021-05-25 15:23] miguelherpas opened #51 "Nice odours can have an unpleasant clasification"
This issue is not a "proper" problem, I just wanted to open a discussion about the fact that nice odours can have an unpleasant classification. I wanted to know your opinion about which is the best way to clarify this situation.

[2021-05-25 18:21] miguelherpas opened #52 "Subtype of odours are not translated to Spanish"
Today on a meeting with citizens, a person downloaded the app and he explained that in the Spanish version, the subtype appears in English.
I've tried it in the front test, and in my phone and it appeared in English as well.

![image](https://user-images.githubusercontent.com/83075623/119548714-c69f3a00-bd96-11eb-9c1e-3db2ef5dade6.png)

[2021-05-25 18:23] miguelherpas commented on #52
I´ve checked in different types of odours and in all of them the problem was still occurring.

Please, can it be solved ASAP? as we are in the middle of different small pilots in Spain it is very important for us.

Thanks!

[2021-05-25 20:44] AlexAmoSfC opened #53 "Fix typo in en.js"
Remove dupe line.

https://github.com/Ibercivis/odourcollect.eu/blob/299ce495868a8c4543a7508d934343480a54356f/public-odourcollect/resources/js/i18n/en/en.js#L55

[2021-05-26 07:05] Javier-Gasca commented on #41
![image](https://user-images.githubusercontent.com/82105889/119617009-9e98f080-be01-11eb-9932-a967f9ac54ef.png)
![image](https://user-images.githubusercontent.com/82105889/119616555-06027080-be01-11eb-84cc-13d5902c9c5e.png)
I have tried to reproduce the error and it shows the odor of 05/19.
Could you check it again?

[2021-05-26 07:13] Javier-Gasca commented on #39
I have placed a line under the age field so that it shows that it is a field and when you do not select any age, a red text appears just below.
![image](https://user-images.githubusercontent.com/82105889/119617190-d738ca00-be01-11eb-9f7a-dd417b392d2d.png)
![image](https://user-images.githubusercontent.com/82105889/119617998-b15ff500-be02-11eb-9fc5-adce1b9e95a8.png)

[2021-05-26 07:24] vvalvesga commented on #41
we've test it and we haven't seen any error. We downloaded all Southall observations and check 19/05 observation appears and in the list too. And we did the other download filtering dates and the same result: that observation appears.
Maybe, you saw the error with production environment not updated or i don't know what can be the cause.

In any case, we need more information in issues, we haven't

[2021-05-26 09:56] EmpressNaledi commented on #41
Hi @vvalvesga I've checked and I'm getting the same as you rather than what was happening previously - so will close.

[2021-05-26 10:19] Javier-Gasca commented on #32
We have added an arrow at the bottom that only shows when there is part of the list that is not visible. When you get to the end of the list it disappears.
![image](https://user-images.githubusercontent.com/82105889/119643641-458a8600-be1c-11eb-9b3c-87996876489e.png)

[2021-05-26 10:19] #32 closed, assigned to Javier-Gasca

[2021-05-26 10:56] EmpressNaledi commented on #41
I've had to re-open @vvalvesga Because OC shows 263 Observations in the frontend but the download only has 259 records
![image](https://user-images.githubusercontent.com/12254027/119648311-36560900-be19-11eb-9e12-13dda0318c7a.png)
![image](https://user-images.githubusercontent.com/12254027/119648419-57b6f500-be19-11eb-808c-fcf3f742d759.png)

So even though the latest records are showing there are

[2021-05-26 10:58] EmpressNaledi commented on #41
Can you check the DB for any records within Southall that have not been validated or that have been deleted in case this is the issue. Looking at the dashboard currently all those pending verification are either from Spain or have no address details. The are also all from user 77 and user 15

[2021-05-26 11:22] AlexAmoSfC commented on #52
In my tests, it correctly loads the language resources 2nd and further times, failing only at first time.
In fact, if I change language on the fly, while in "new odour" view, I can see all the texts changing all around the interface EXCEPT the labels assigned to the subtype selection list.

As if i18n was not interacting with this frame at all.

@miguelherpas For the time being, please proceed as

[2021-05-26 11:37] EmpressNaledi commented on #41
We've discovered that the download for today does not show the 4 observations made this morning 26/05/2021

[2021-05-26 12:06] AlexAmoSfC commented on #52
I'd suggest to check out the VUE template and search for potential value mismatchings here:
https://github.com/Ibercivis/odourcollect.eu/blob/ff82c50b4f566261bb110809f8a56227696913ef/public-odourcollect/resources/js/views/Odour/OdourCreate.vue#L102

[2021-05-26 12:10] JohanaSfC opened #54 "Zone Manager does not update on deletion and can be duplicated"
From the back office, I have designated my user as zone administrator of two communities. But then I decided to delete myself as zone administrator and they are still appearing in my study zones.

![image](https://user-images.githubusercontent.com/83076037/119656346-31c92a80-bdf0-11eb-9be3-c9f2855d77ba.png)

From the back office, if it appears updated and my user is not associated to any zone admi

[2021-05-26 13:35] EmpressNaledi commented on #41
We've done some further analysis and have come to the following conclusion - when you set a filter range in OC front end, the data it collects does not include everything date range. It seems to exclude the beginning and end of the date range by several hours. E.g filtering from 01/09/2020-30/09/2020 gives a total of 79 observations. However, the data download shows 85 from that date range. We res

[2021-05-26 14:18] vvalvesga commented on #41
![imagen](https://user-images.githubusercontent.com/48445869/119676257-02d9a580-be3e-11eb-864d-bfec8ff7474b.png)

[2021-05-26 14:25] vvalvesga commented on #41
I have isolated the problem, from zone 24 (Southall) there are 259, it is correct in backend and frontend.
The problem is that there are 2 zones in the database that point to Southall. Then you have to change the query or I'll see why this happens. Apparently one was erased and recreated. But it has been inconsistent and the front collects the observations of both areas. The backend does the query

[2021-05-26 14:26] vvalvesga commented on #41
About the other comments, I have not looked, you would have to open new issues and be better explained ,

[2021-05-26 14:48] EmpressNaledi commented on #41
![image](https://user-images.githubusercontent.com/12254027/119681102-ab393b00-be39-11eb-9ebc-f1b260571caa.png)
From the live server - it shows the 263 I discussed before

[2021-05-26 14:51] EmpressNaledi commented on #41
I've also tested when logged in and filtered based on Southall Case study and the same numbers show @vvalvesga
![image](https://user-images.githubusercontent.com/12254027/119681713-36b2cc00-be3a-11eb-9690-0197eb0dd446.png)

[2021-05-26 14:53] EmpressNaledi commented on #41
Also note your screen-dump suggests that there are no other observations across most of the UK which is incorrect

[2021-05-26 14:56] EmpressNaledi commented on #41
Can you do a database query to see whether zone 24 (Southall) has 4 observation for today? Then run the same query on the deleted zone to see if they exist there?

[2021-05-26 14:57] vvalvesga commented on #41
I have isolated the problem and that is why I have concluded that there are 259 observations for that zone number 24.
I explain myself better. See the importance of explaining well
I've caused those results to come out. I have deleted / filtered the rest, to get out which ones are really from that zone.

[2021-05-26 15:16] vvalvesga commented on #41
I have to investigate further. But there are 2 zones in the database for Southall. And take 259 observations from zone 24 and 4 from zone 15

[2021-05-26 15:45] EmpressNaledi commented on #41
Please can you download the 4 observations from zone 15 and send it as a CSV via slack Pleeeeeeeeeeeeeeease! I need to send the data to the industry and municipality

[2021-05-27 08:04] #33 closed, assigned to Javier-Gasca

[2021-05-27 08:47] AlexAmoSfC commented on #54
since it's a failure in basic CRUD functionality and it's visibly impacting in users screen, I've tagged as urgent bug.
since it's only affecting zone admins , you may disagree with me about the urgency. Edit accordingly.

[2021-05-27 09:36] AlexAmoSfC commented on #51
@miguelherpas here's my take on that, IMHO.

Conversely, unpleasant odours can be scored as pleasant. This is a design decision (or lack thereof), that would imply redesigning the list of odour types/subtypes in a way that we should specify if an odour type has to be always positive or always negative. All in all, this is the kind of decisions that have to be took before even writing a line of cod

[2021-05-27 09:39] frasanz commented on #51
I do agree.

On Thu, 27 May 2021 at 11:36, Alex Amo at ScienceForChange <
***@***.***> wrote:

[2021-05-27 09:40] frasanz commented on #51
I mean, I do agree with Alex's suggestion. There are issues that might be a
lot of effort to make (in terms of hours) and short benefit. And we should
avoid it at this point.

Fran

On Thu, 27 May 2021 at 11:39, Francisco Sanz García ***@***.***> wrote:

[2021-05-27 09:58] #51 closed, assigned to nobody

[2021-05-27 10:00] AlexAmoSfC commented on #51
If you are OK with that, I proceed to tag as wontfix and close. This does not take the fact that we'll take this shortcoming of the app into account for future iteration on the long run.

[2021-05-28 09:45] vvalvesga commented on #7
Done

[2021-05-28 09:45] #7 closed, assigned to nobody

[2021-05-28 09:45] vvalvesga commented on #14
Done

[2021-05-28 09:45] #14 closed, assigned to nobody

[2021-06-02 07:12] #53 closed, assigned to Javier-Gasca

[2021-06-02 10:08] #52 closed, assigned to nobody

[2021-06-02 18:14] AlexAmoSfC commented on #52
Thank you very much, Javier

[2021-06-03 06:49] Javier-Gasca commented on #52
You're welcome

[2021-06-03 14:49] JohanaSfC opened #55 "Download of all observations in OC does not work correctly"
When you sign in as SUPERADMIN, you can download all observations available in OC.
![image](https://user-images.githubusercontent.com/83076037/120661170-a5e97b00-c44d-11eb-8fe3-af2483418961.png)

The APP shows this window, where the user can see that the app is running this activity.
![image](https://user-images.githubusercontent.com/83076037/120661734-26a87700-c44e-11eb-96e2-e30961ae5972.png)

Bu

[2021-06-07 11:11] Malonsoroldan commented on #48
![image](https://user-images.githubusercontent.com/38461022/121006515-44007c80-c791-11eb-9add-e293cdba24fe.png)

This has been pushed to the live backend sever, I guess by mistake, as it cannot be used the way it is now:
- Number of observations and time period cannot be specified "____ observations added for the past ____ hours"
- Unable to select different odour types
- Hedonic tone cannot be sp

[2021-06-07 11:23] vvalvesga commented on #48
Yes, it's not resolved yet

[2021-06-07 12:19] frasanz commented on #49
The problem is that the username is not stored properly in the database. It saves "username" instead of the name provided while registering

[2021-06-07 13:53] Malonsoroldan commented on #10
- A user can know their ID - DONE

[2021-06-07 13:54] Malonsoroldan commented on #10
- A user can delete their data - NO
![image](https://user-images.githubusercontent.com/38461022/121028928-7cf81b80-c7a8-11eb-87d2-234b88bc22ca.png)

I cannot click on 'OK'

[2021-06-07 14:02] Malonsoroldan commented on #10
- A user can consult their data - OK (my odours)

[2021-06-07 14:03] Malonsoroldan commented on #10
- A user can download his/her data - NO

[2021-06-07 14:04] Malonsoroldan commented on #10
- A user can unsubscribe - From what?
a) From the case study - YES
b) From receiving notifications - NO

[2021-06-07 14:10] Malonsoroldan commented on #11
The location of the servers is missing on the text (Your data will be stored...).

[2021-06-07 14:18] Malonsoroldan commented on #18
Filtering on the front-test map seems to work (except for the date issue).

![image](https://user-images.githubusercontent.com/38461022/121032682-cac25300-c7ab-11eb-9ffc-c392c01f807d.png)

I have to define the date 4/5/21 to 5/5/21 to get the data added on 5/5/21

[2021-06-07 14:41] frasanz commented on #10
- [X] A user can know their ID
- [X] A user can know their data
- [X] A user can consult their data (my odours)
- [X] A user can download his/her data
- [X] A user can unsubscribe from the case study
- [X] A user can unsubscribe from receiving notifications (this has to be with deselecting "I accept to receive... while login"
- [X] Show cookies policies at bottom

[2021-06-07 14:43] Malonsoroldan commented on #11
Louise: To be specific with the retention periods (when is the end of the project? To specify).

[2021-06-07 14:57] frasanz commented on #11
An user can select if he/she wants to delete their observations

[2021-06-07 15:03] Malonsoroldan commented on #41
Hard deletion of the old zone from the database will solve this issue for the moment.

[2021-06-07 15:16] Malonsoroldan opened #56 "Unable to upload observations on the front test"
I cannot upload observations through the front test as geolocation cannot be activated as is not a 'secure' web
![image](https://user-images.githubusercontent.com/38461022/121042144-aff3dc80-c7b3-11eb-8222-bf1c5a8151dd.png)

[2021-06-07 15:18] Malonsoroldan opened #57 "Confirmation email not received after registering on Pre (front test)"
ID 1191 – Didn’t receive the confirmation email

[2021-06-07 15:20] frasanz commented on #41
When filtering, the frontend is sending bad query to the database:
`
select `odors`.`id`, `id_odor_type`, `id_user`, `odors`.`color`, `id_odor_intensity`, `id_odor_duration`, `id_odor_annoy`, `published_at`, `latitude`, `longitude` from `odors` inner join `locations` on `odors`.`id` = `locations`.`id_odor` inner join `odor_types` on `odors`.`id_odor_type` = `odor_types`.`id` where `id_odor_intensi

[2021-06-08 07:38] AlexAmoSfC commented on #49
@frasanz ACK. Since all the user information is then lost, and having "username" string all around the database will preclude us from testing, I'd suggest an approach for correcting the username of users already in database, in parallel while you fix the issue. It should be just a quick SQL query, but we have to think about the specific query (update username column copying the value from the user

[2021-06-08 08:00] AlexAmoSfC opened #58 "GDPR compliance - Cookie management for newcomers"
Analytics cookie is being dropped without prior consent (source: cookiebot report on odourcollect.eu). Even if we have worked out the texts, the cookies should be managed properly.

Essential cookies in OC are:

- laravel_session
- XSRF-TOKEN

Non-essential (need permission) cookies in OC are:

- language
- _ga
- _gat
- _gid

Ref.: https://www.kevel.co/blog/gdpr-google-analytics/#:~:text=Arguments

[2021-06-08 08:21] frasanz commented on #49
I can to that if you want. (to put user_XX) as username.

The problem was that it was decided to remove "username" from the table
(because GDPR) but we saw it was a bad idea, so we need to fix it.

Fran

On Tue, 8 Jun 2021 at 09:39, Alex Amo at ScienceForChange <
***@***.***> wrote:

[2021-06-08 09:01] AlexAmoSfC commented on #49
Actually, there is no need to do that to be GDPR compliant (lots of apps do have user ids chosen by he users themselves).
So, can you recover the data from a database backup before such a significant update to DB structure, or is the username information lost? A rollback would be ideal.
In second scenario, yes, please insert "user_nnnnn" as username in order to replace lost data.

[2021-06-08 09:03] frasanz commented on #49
Yes, that´s the idea, to recover

Fran

On Tue, 8 Jun 2021 at 11:02, Alex Amo at ScienceForChange <
***@***.***> wrote:

[2021-06-08 11:13] EmpressNaledi commented on #49
@AlexAmoSfC
Just to note that users should be informed that there username will be on public display.
The UK GDPR specifically includes the term ‘online identifiers’ within the definition of what constitutes personal data.

"An individual’s social media ‘handle’ or username, which may seem anonymous or nonsensical, is still sufficient to identify them as it uniquely identifies that individual. The

[2021-06-08 12:19] frasanz commented on #49
I changed username to user_xx in the database.

So, in order to clarify the final behavior. My idea is that people can
introduce their username, but it is not going to be visible in the platform
for others (including administrator). Is that correct?

Fran

On Tue, 8 Jun 2021 at 13:13, EmpressNaledi ***@***.***> wrote:

[2021-06-08 13:23] AlexAmoSfC commented on #49
@EmpressNaledi:
Sure. GDPR defines user ids as PII. I totally agree (I have a background in cybersecurity, so I couldn't agree more and I love the example of "doxing" you provide 8-) ).
My point in this regard would be:
- better not to perform deep, significant changes in app/db structure at this point. This is a case of regression affecting UX in a visible way.
- GDPR compliant apps can store suc

[2021-06-09 11:29] Javier-Gasca commented on #50
I have made a few small changes. Could you please check how it looks now and provide a screenshot?

[2021-06-09 16:58] AlexAmoSfC commented on #50
Smart strategy, adding extra step views so you don't have to care about layout fluidity.
IMHO it's a great change and it solves the problem.
Thoughts, @miguelherpas @JohanaSfC?

[2021-06-10 05:31] miguelherpas commented on #50
Good morning! Thanks for the work @Javier-Gasca ! I think it solves the problem most of the time. Nevertheless, when width resolutions are lower than 300 (e.g in the case of Galaxy Fold in developers mode of Chrome (280x653) the problem persists. I am not sure if that is still a problem or it is only happening in the developer's mode.
What is your opinion?

![image](https://user-images.githubuserc

[2021-06-11 08:08] Javier-Gasca commented on #50
I have increased the space between the two texts and now I see it well. I close the issue, if you still have a problem with the visualization, reopen it

[2021-06-11 08:08] #50 closed, assigned to Javier-Gasca

[2021-06-11 08:38] Javier-Gasca commented on #56
Try putting https in the url instead of http

[2021-06-11 08:39] Javier-Gasca commented on #56
It works for me

[2021-06-11 08:41] frasanz commented on #56
Yes, it´s working under https

On Fri, 11 Jun 2021 at 10:39, Javier-Gasca ***@***.***> wrote:

[2021-06-11 08:41] #56 closed, assigned to nobody

[2021-06-14 07:38] frasanz commented on #11
Wait until @AlexAmoSfC review for automatic delete, but has to be done the following

- [X] A user can delete his/her account and decide if he/she wants to delete his/her observations

[2021-06-15 04:16] #41 closed, assigned to Javier-Gasca

[2021-06-15 08:27] vvalvesga commented on #48
![imagen](https://user-images.githubusercontent.com/48445869/122018854-88a89b00-cdc3-11eb-9c00-58be826de961.png)

In this issue i have some questions
Do you want select only one odour type (parent odour types)? Or more?
For hedonic tone i will use a slider as wwe have in frontend's filters

I don't know then if it's only a record, that is, a type of smell with its hedonic tone
Or you want to add a

[2021-06-15 09:07] Malonsoroldan commented on #48
We need to
- select multiple odour types (sub types don't matter that much)
- intensity, more than hedonic tone;
- number of observations
- the geography needs to be limited

In essence, it should be something like this example (in Bold, things that the user should be able to set up)
**5** observations + **Waste + Waste Water** + **...** categories + intensity **equal/over 3** + period of **24** h

[2021-06-15 09:14] vvalvesga commented on #48
What does mean categories? odour types?
Do you have to indicate the number of observations?
how would this work? catch when there are 5 observations instead of the time period having passed?
geography limited? What does mean it? This issue is about a zone

[2021-06-15 09:20] Malonsoroldan commented on #48
Categories = odour types
Yes, we'd like to be able to say X observations **within** Y time period (X and Y to be set up by the user, e.g. 3 observations within a 24h-period or 5 observations within an 8h-period)
Limited geography = zone

[2021-06-16 07:18] #11 closed, assigned to nobody

[2021-06-16 08:13] #10 closed, assigned to vvalvesga, Javier-Gasca

[2021-06-18 09:08] EmpressNaledi opened #59 "Manage Case Study"
When going to the case study list and selecting a case study to mange [https://admin.odourcollect.eu/zone/22] the following error occurs:
![image](https://user-images.githubusercontent.com/12254027/122537017-0ca98f80-d01d-11eb-950d-1ba3479807e7.png)

[2021-06-18 09:54] EmpressNaledi opened #60 "Unverfied wording"
The Verified button text should be amended to say Unverify in stead of Unverified
![image](https://user-images.githubusercontent.com/12254027/122543223-72007f00-d023-11eb-8410-e0c4829ae6a1.png)

[2021-06-18 09:57] EmpressNaledi commented on #18
@Javier-Gasca here's a screenshot of the button I'm referring to.
![image](https://user-images.githubusercontent.com/12254027/122543718-fce17980-d023-11eb-9685-8817d7009828.png)

[2021-06-18 09:59] EmpressNaledi commented on #18
@Malonsoroldan this is a completely different issue and refers to the dashboard rather than the front-end

[2021-06-18 10:31] EmpressNaledi opened #61 "Observations attached to a deleted case study zone"
Observations made in the Southall case study zone are being inconsistently assigned to zone 24 and zone15. Zone 15 was deleted some time ago and any of the old observations should be appended to zone 24. There should be a hard delete of Zone 15 after this to prevent any new observations from being assigned. Currently all the June observations seem to have been assigned to the deleted zone.

[2021-06-18 12:04] vvalvesga commented on #48
Done

[2021-06-18 13:33] miguelherpas opened #62 "Adding time dimension in the cases study"
A new case study in Spain started a few months ago. When we proceeded with the data analysis and downloaded the data from the BackOffice (doing the normal procedure of filtering by case study), the data was not consistent compared to the number of observations that appeared in OC. I attach here the file that we downloaded and the other one that we had done to do the proper analysis after filtering

[2021-06-18 13:39] frasanz commented on #62
As said, probably it's because data in the pilot starts to be collected
once  the data is defined. We can include data in the pilot "by hand", but
the good solution is to provide time-dimension to a pilot (and incorporate
odors back in time if wanted)

On Fri, 18 Jun 2021 at 15:33, miguelherpas ***@***.***> wrote:

[2021-06-18 13:46] miguelherpas commented on #62
I agree @frasanz, that is the best solution.
In this case, the interesting thing is that the observations stopped once the case study is defined. It is actually pretty awkward that the data that should be the most important is the one that is not included. I don't know if that info is important about the real functioning of the OC back office, but it was really surprising for me.
I hope we can fin

[2021-06-18 13:52] frasanz commented on #62
For the moment, If lets find the  id of the observations before the
pilot definition, I can add them to the zone 'by hand'

On the other hand, I´m going to close this issue and open a new one for
"adding time dimension" to pilots. Does that make sense?

Fran

On Fri, 18 Jun 2021 at 15:47, miguelherpas ***@***.***> wrote:

[2021-06-18 14:01] miguelherpas commented on #62
It makes completely sense for me.

Thanks Fran

[2021-06-23 07:22] vvalvesga commented on #59
Close, it works, there is no problem

[2021-06-23 07:22] #59 closed, assigned to nobody

[2021-06-23 08:22] miguelherpas opened #63 "Language in the app when you enter first time (based on feedback of users)"
When you open the app for the first time, English is the default language. This can be an inconvenience for users that do not know English, especially old people.

I would suggest putting by default the language of the device. I do not know if it is possible to change it, but it was one of the problems that the users detected.

Thanks in advance

[2021-06-23 08:25] vvalvesga commented on #43
I can't to reproduce the same case.
As we've changed a lot of things I ask you try again. Now, in frontend, we don't show unverified observations. And we've also changed time filter.
In the dashboard's map is showing unverified observations and the observations list is below of the map

[2021-06-23 09:05] EmpressNaledi commented on #43
@vvalvesga I believe this issue has been addressed with the changed time filter so can be closed.

[2021-06-23 09:18] vvalvesga commented on #62
about this issue then what to do?
Nor have I come to understand the matter. I see in BD that there are 2 areas of Villarobledo. The 25 and 26. The 26 is erased.
and I download the data and see 63 records, from 2021-04-15 until 2021-06-18, no 22/05

[2021-06-23 09:20] #43 closed, assigned to nobody

[2021-06-23 09:42] miguelherpas commented on #62
Hello Victor, the issue was opened because there was a problem that seems to be solved now. I can assure you that when we tried to download the data for that case study last week it was not the case. In fact, when Fran provided us the data for all the case studies of D-NOSES there was an inconsistency in the values for that specific case study.

You will probably know better than us which could ha

[2021-06-23 09:58] vvalvesga commented on #62
That's is, for now I close this issue and if you want we can create other issue about improve case studies

[2021-06-23 09:58] #62 closed, assigned to nobody

[2021-06-23 10:21] vvalvesga commented on #61
if you download the track in https://admin.odourcollect.eu/admin/zone/24 you can show all observations included June observations.
and if i can go to https://admin.odourcollect.eu/admin/odour/list and i filter by zone Southall i can see June observations.

I am going to delete the case studies marked as deleted and in the delete functionality I will actually delete the case study

[2021-06-23 10:36] vvalvesga commented on #61
I've moved everything assigned to zone 15 to zone 24.
We've decided only to delete zone 15 (Southall marked as deleted) for the moment. Check if all is correct for Southall zone.
Close issue

[2021-06-23 10:36] #61 closed, assigned to frasanz

[2021-06-23 10:44] EmpressNaledi commented on #61
@vvalvesga now the download for the zone has duplicate observations (see attached download)
[odours (15).xlsx](https://github.com/Ibercivis/odourcollect.eu/files/6701172/odours.15.xlsx)

[2021-06-23 11:02] vvalvesga commented on #61
It's true. Solved it

[2021-06-23 13:22] EmpressNaledi commented on #61
Thanks @vvalvesga

[2021-06-25 08:30] #60 closed, assigned to nobody

[2021-06-25 13:35] EmpressNaledi opened #64 "Automatic verification"
For some reason, some observations are not automatically being verified and I'm not sure why. The observation below was taken today in Southall but is showing as pending. As a result, I haven't received the email notification that I set up.
![image](https://user-images.githubusercontent.com/12254027/123432647-7fd57780-d5c2-11eb-901b-4549731818f9.png)

[2021-06-25 14:03] vvalvesga commented on #18
I've deleted the dropdown case study filter
Close it

[2021-06-25 14:03] #18 closed, assigned to nobody

[2021-06-28 14:54] frasanz commented on #55
I increased to 120 seconds the time for execution php

[2021-06-28 14:55] frasanz commented on #55
Test needed

[2021-06-28 14:55] #55 closed, assigned to nobody

[2021-06-28 15:03] AlexAmoSfC commented on #19
Closed (duplicate of #44)

[2021-06-28 15:03] frasanz commented on #17
Related #64

[2021-06-29 10:29] vvalvesga commented on #17
Solved it. I can't reproduce this error but I think it's working well in both cases (admin and zone admin). I've changed the code because with admin user this feature haven't been working and now it works well.
Code seems to be fine and that error seems impossible to get out because verified field can't be ambiguous , at this moment it's explicitly collected

[2021-06-29 10:29] #17 closed, assigned to vvalvesga

[2021-06-30 07:32] vvalvesga commented on #64
in the code it puts verified to 0 if the user does not have publication permission
you want it to always be verified to 1 right? I change it?

[2021-06-30 07:52] EmpressNaledi commented on #64
I'm not sure what publication permission means or how it is obtained. So, yes please set any observation to always be verified to 1.

[2021-06-30 07:54] vvalvesga commented on #64
Ok, done.

[2021-06-30 07:54] #64 closed, assigned to nobody

[2021-06-30 08:00] EmpressNaledi opened #65 "Zone admin Email notifications"
I set-up the email notifications for Southall last week with the following parameters but none of us have received an email even though the conditions have been met.
![image](https://user-images.githubusercontent.com/12254027/123924064-80368f80-d981-11eb-8ced-cea17bca0663.png)

[2021-06-30 08:31] vvalvesga commented on #65
I think there are no observations that meet a hedonic tone between 1 and 4

[2021-06-30 08:35] EmpressNaledi commented on #65
You are right and that's my error - I should have set it to minus! Thanks. I'll close the issue for now

[2021-06-30 12:22] AlexAmoSfC commented on #49
Clarification: there is an autogenerated "moniker" which is not PII, and that moniker is the thing shown publicly in map.
The username chosen by the user him/herself is going to be used only for internal communication (via email) purposes.
I'll read the GDPR texts and, if nothing is stated in a way that does not match the behaviour and processing of the data, I will close this issue.

[2021-06-30 12:29] AlexAmoSfC commented on #63
this is a two layer approach:

@frasanz will focus on server side browser language detection
@vvalvesga will focus on webview controller of mobile app, in order to ensure that it the sends the proper locale to server

[2021-07-01 09:48] Malonsoroldan commented on #48
Just got a test email notifications, 2 amends to do ASAP:
- Any email should be sent using BCC
- The notification should ONLY be sent to the Zone Admin

[2021-07-01 09:57] EmpressNaledi commented on #48
In addition, the wording of the email should be changed to:
You are receiving this email as an OdourCollect Zone Administrator because there have been new observations made in your area.

The new observations are:
** are you able to provide a hyper link to the new observations @vvalvesga ? If not, can you provide a summary that includes the time, date, location, odour type, sub-type, intensity, he

[2021-07-01 10:09] vvalvesga commented on #48
link to what?
The application when you click on an observation doesn't return a valid url.
maybe more information as you say, but how do you want it? somehow you have to know what is that

[2021-07-01 11:09] EmpressNaledi commented on #48
For example:

The new observations are:

![image](https://user-images.githubusercontent.com/12254027/124114953-20b1b000-da65-11eb-9f6b-aaec0000aac0.png)

[2021-07-01 12:12] AlexAmoSfC opened #66 "Zone admin Email notifications disclose recpts"
Please, put the recipients in CCO, or send emails in batches of one by one. both solutions would be acceptable.
I attach screen cap.
![Anotación 2021-07-01 141200](https://user-images.githubusercontent.com/83209147/124122411-590dba00-da76-11eb-8dd2-08cb57442bc7.png)

[2021-07-01 13:21] AlexAmoSfC commented on #54
Reopening this issue.
Maybe the code was fixed, but the data structure inside OC, which was affected by it, is still lingering around and causing problems.

In case that an issue is related to CRUD functionality, please bear in mind that we should always double check if the data structures have been affected, and try to correct them back to a sane state.

Also, I was wondering if you can modify th

[2021-07-01 13:51] AlexAmoSfC opened #67 "[Zone manager notifications] We are notified of the very same observations every hour."
It seems that we all zone managers are receiving the very same observations time after time each hour, which would only make sense if the were new, but doesn't if we were notified just an hour ago. We get the same numbers again.
This is happening since today @ 13h
The same email received @ 14h and at @ 15h.

I temporarily disabled related crontab task until you act, due to complains from managers.

[2021-07-01 15:08] EmpressNaledi commented on #67
Hi @AlexAmoSfC I think this is happening because you have set the parameters to 1000hrs! and 1 observation. As such, you will get 10000 emails! (1 per hour for 1000hrs). The system checks whether the parameters have been met every hour sp it's more about your settings,

[2021-07-01 15:33] #65 closed, assigned to vvalvesga

[2021-07-01 15:36] EmpressNaledi opened #68 "Zone admin Email notifications (see also #65)"
@vvalvesga I think the notifications might be going to all of those assigned to a zone, instead of the Zone Admins - is it possible for you to check? That might be why so many registered users received the email notification.

[2021-07-02 09:40] vvalvesga commented on #66
It's done, i close
i put the recipients in CCO

[2021-07-02 09:40] #66 closed, assigned to vvalvesga

[2021-07-02 09:41] vvalvesga commented on #67
I put those parameters to do some tests
I forgot to remove it, sorry

[2021-07-02 09:44] vvalvesga commented on #67
about sending the same comments ...
it's a problem?
I think that if you put that for the notification to reach you it has to be when 10 observations occur in 3h, it makes sense to send them all and not only those that have occurred in the last hour, I don't know if I explain myself

[2021-07-02 09:45] vvalvesga commented on #67
@AlexAmoSfC close if it's not a problem

[2021-07-02 10:05] EmpressNaledi commented on #67
@vvalvesga I'm not sure what you mean, can you explain please?

[2021-07-02 10:15] vvalvesga commented on #67
that if you put these conditions
2 hours
3 observations

1) 9:10 -> 1 obs
2) 9:40 -> 1 obs
3) 9:50 -> 1 obs
4) 10:40 -> 1 obs
5) 10:50 -> 1 obs
6) 11:30 -> 1obs
7) 12:30 -> 1obs

First mail at 10-> 1,2,3
second mail at 11-> 1,2,3,4,5
third mail at 12 -> 4,5,6
no email is sent at 1pm, there are no 3 observations in the last 2 hours

I ask if it is correct
Alex says that observations are repeated in

[2021-07-02 10:16] Malonsoroldan commented on #68
We just want the notifications to go ONLY to the Zone admins, and not everyone assigned to a zone.

[2021-07-02 10:22] vvalvesga commented on #68
ok, the code was wrong
I took advantage of a function that had to return the zone admin and actually returns all those assigned to that zone
I change it

[2021-07-02 10:41] EmpressNaledi commented on #68
Okay, if this is soled the issue can be closed

[2021-07-02 10:45] EmpressNaledi commented on #67
I think this is fine @vvalvesga . However, if you add the additional details that I outlined here [https://user-images.githubusercontent.com/12254027/124114953-20b1b000-da65-11eb-9f6b-aaec0000aac0.png] Issue # 48, I think it will help administrators identify and clarify even whatever parameters they have chosen.

[2021-07-02 10:46] EmpressNaledi commented on #67
![image](https://user-images.githubusercontent.com/12254027/124263453-2c67aa00-db2b-11eb-9b74-87dc533a8420.png)

[2021-07-02 10:49] vvalvesga commented on #67
ok, that is other issue
close this

[2021-07-02 10:49] #67 closed, assigned to nobody

[2021-07-02 10:53] vvalvesga commented on #68
done

[2021-07-02 10:53] #68 closed, assigned to nobody

[2021-07-02 11:00] EmpressNaledi commented on #68
Thanks

[2021-07-02 11:02] EmpressNaledi commented on #48
@vvalvesga if this can be addressed then all issues related to zone admin email notifications should be closed and have been dealt with.

[2021-07-02 11:13] vvalvesga commented on #48
Yes, that is
I'm wit it @EmpressNaledi

[2021-07-02 11:15] EmpressNaledi commented on #48
Great! Thanks @vvalvesga

[2021-07-02 12:10] vvalvesga commented on #48
Done, check it

[2021-07-02 12:10] #48 closed, assigned to vvalvesga

[2021-07-02 14:53] AlexAmoSfC commented on #67
@Malonsoroldan has kindly explained the functionality to me. Now I have a more clear grasp of it, but still some concerns about that. I will test on my own and let you know in case I have questions.
By the way, I restore the cron task that I freezed yesterday because of this issue.

[2021-07-02 15:25] Malonsoroldan opened #69 "Login error pop-up when adding an observation"
While being logged in, I try to add a contribution and get this pop-up at the end of the process:
![image](https://user-images.githubusercontent.com/38461022/124296518-584e5400-db5a-11eb-9af9-83e55bc89d7d.png)
However, the contribution exists on the map
![image](https://user-images.githubusercontent.com/38461022/124296614-73b95f00-db5a-11eb-819c-8f33a06d5591.png)
To check

[2021-07-07 13:46] Malonsoroldan commented on #69
![image](https://user-images.githubusercontent.com/38461022/124770089-51e52100-df3a-11eb-87a7-2f29323a02b2.png)

Same issue yesterday, but the observation is added

![image](https://user-images.githubusercontent.com/38461022/124770277-7fca6580-df3a-11eb-87a4-f2e8fca6d501.png)

[2021-07-08 09:38] vvalvesga commented on #63
Done

[2021-07-08 09:38] #63 closed, assigned to nobody

[2021-07-08 09:45] AlexAmoSfC commented on #63
Nice. Will you or have you pushed to production at some time this week?

[2021-07-08 09:48] vvalvesga commented on #63
All is updated. About this issue, it requires new session or delete cookies. Or control + F5. If you want we review navigator's language every time user loads page, you must specify it

[2021-07-08 09:50] AlexAmoSfC commented on #63
I understand that you check language of user agent only when no language is set in cookies, then you store language. right?
to me, it's a fair approach

[2021-07-08 10:02] vvalvesga commented on #63
that is it

[2021-07-09 09:09] EmpressNaledi opened #70 "Zone Admin - Email notification"
Can we add to the details currently provided in the email notification, which timezone the database is using. People will not understand otherwise, why there is a difference between the timestamp in the email compared with what the observe in OC, which is for crucial for the Environmental Officers acting on these alerts.

Also, the Officers need to know where they are going to in the field to inve

[2021-07-09 09:17] EmpressNaledi opened #71 "Check the Spelling for Odour across the App and Datbase"
Across the front-end and back-end odour is inconsistently spelled and various from odour to odor. Please can check both and edit so that we use odour consistently. See images below for some examples.
![image](https://user-images.githubusercontent.com/12254027/125054612-51fe3180-e09e-11eb-8fcd-7aa1524add80.png)
![image](https://user-images.githubusercontent.com/12254027/125055121-cdf87980-e09e-11eb

[2021-07-15 12:17] miguelherpas opened #72 "Asignation of observations to case studies"
Same issue as #62. We want to download data for the analysis of a case study (the zone name starts with Masquefa in this case).
Please @vvalvesga check it out that is not functioning as expected and the last observation that appears when you filter is on 21/06 meanwhile in that zone there are observations from yesterday (13/07).  We have in this case 26 observations that are not assigned to the ca

[2021-07-16 12:41] AlexAmoSfC commented on #69
![possible error from uganda](https://user-images.githubusercontent.com/83209147/125948753-591aca96-f11f-4179-b6e7-c7962ccc6310.png)

Attaching this screen capture with additional information observed in laravel's storage engine log.

Please check out /var/www/html/api-odourcollect/public/laravel/storage/logs/laravel.log (06/07, 15:31)

[2021-07-19 10:10] vvalvesga commented on #70
Done, i added address field and i put UTC after time

[2021-07-19 10:10] #70 closed, assigned to vvalvesga

[2021-07-19 10:11] EmpressNaledi commented on #70
Thanks @vvalvesga !

[2021-07-19 12:33] AlexAmoSfC opened #73 "Mass sending of emails from back office to citizens"
Feature Request.
From the back office, sending HTML emails to all the users that have participated inside the zone of a case study.
Correct me if I'm wrong, but since users are not strictly associated to a specific zone, we would need criteria to associate users and zones.
The criteria could be something like "having at least one odour observation inside the zone".
Alternative approach could be in

[2021-07-19 12:40] EmpressNaledi commented on #73
In previous discussion we suggested automatically adding a user to a zone once they've made an obsv within the zone boundary.

[2021-07-19 12:41] AlexAmoSfC commented on #73
@EmpressNaledi let's see if we can merge this requests into a single one, since it fully makes sense.

[2021-07-19 13:47] AlexAmoSfC opened #74 "User profile completion assistant"
Request.
We were discussing the utility of showing a pop up window to user asking the user to "complete the profile" as long as he/she has not finished providing all the additional data we would like to have for a better service.
Data fields currently mentioned in OC:
`name, type, surname, username, email, gender, age, phone, datebirth, active, without_validation, count, email_verified, email_veri

[2021-07-19 14:24] Malonsoroldan commented on #70
Ole!!

[2021-07-19 15:43] frasanz commented on #44
Check proposed solution in fronttest.odoourcollect.eu and close if agreed
<img width="360" alt="Captura de pantalla 2021-07-19 a las 17 42 35" src="https://user-images.githubusercontent.com/456573/126187887-80ada34f-a944-4874-8748-af49ce29f4c4.png">

[2021-07-19 16:59] frasanz commented on #54
What you're seeing is because it is not deleting the relation user-zone but adding a timestamp to the delete_at field:
mysql> select * from user_zones where id_user = 1317;
+-----+---------+---------+-------+---------------------+---------------------+---------------------+
| id  | id_zone | id_user | admin | deleted_at          | created_at          | updated_at          |
+-----+---------+------

[2021-07-19 17:21] AlexAmoSfC commented on #54
@frasanz it seems that most regression-proof strategy is the first one. also, it seems logical that the presence of a field reporting "deletion without real deletion" like "deleted_at", implies that queries should have it into account of course!
so proceed with including the NULL check in the queries.
Thank you very much Fran

[2021-07-20 06:15] frasanz commented on #54
Done in fronttest (also for the xlsx file creation), please have a look before closing this

[2021-07-20 12:57] vvalvesga commented on #72
Creating an odor, it is saved with the basic fields. A location is created. And then a method is called to associate the zone.
In this method (zoneAttach) all zones are traversed and its points are traversed for each area and polygons are created.
Check if the latitude and longitude of the added point is in any of the polygons.
If it is found in any, then it checks if the user who has added it bel

[2021-07-20 12:58] vvalvesga commented on #72
I've only see theese observations

![imagen](https://user-images.githubusercontent.com/48445869/126328172-121bd763-9dc5-46ff-b7f5-50f4cbb95f53.png)

[2021-07-20 12:59] vvalvesga commented on #72
![imagen](https://user-images.githubusercontent.com/48445869/126328260-7ed9a8ee-1086-4cb6-b4c3-0558eee896b5.png)

[2021-07-20 12:59] vvalvesga commented on #72
zone 29 masquefa
![imagen](https://user-images.githubusercontent.com/48445869/126328308-5b52f2e1-c03c-4ef6-9814-f4410c8fe9ca.png)

[2021-07-20 13:00] vvalvesga commented on #72
zone's points
![imagen](https://user-images.githubusercontent.com/48445869/126328393-2d7e5e9e-2b76-4c18-b3da-e53fb3f36e12.png)

[2021-07-20 13:00] vvalvesga commented on #72
I have seen this observation from 13/07 and you can see how the user who added it is 1408 and this is not assigned to the Masquefa area, I think that is why it has not been added

[2021-07-20 13:01] vvalvesga commented on #72
![imagen](https://user-images.githubusercontent.com/48445869/126328505-7d95355a-4822-49da-a7e1-bb6083d8f2cf.png)

[2021-07-20 13:13] vvalvesga commented on #72
That has been my investigation :)
Check it and decide what to do. If you want, close issue or maybe change something/create new issue

[2021-07-20 14:31] miguelherpas commented on #72
Thanks for the investigation Víctor.
I've checked the observation you commented on before and it has been certainly done inside the area of study.

Nevertheless, I have some doubts:

- What is assigned to a zone? a user or an observation?
-Why some observations from the same user in the same point are assigned and others not? (In this case, we noticed the date when it stopped assigning the observa

[2021-07-20 14:35] vvalvesga commented on #72
Both, user and odour are assigned to a zone

[2021-07-20 14:35] miguelherpas commented on #72
PD: I just checked the issue and it is no longer happening, thanks for solving it.
But I didn't get exactly why this has happened to us. If you remember we had this problem twice already and I still don't get what is wrong. As it is a recurrent issue, I think that we should try to find a permanent solution...

Is there any automatism that is not working correctly? How did you solve it? Do you thin

[2021-07-20 14:35] vvalvesga commented on #72
If it is found in any, then it checks if the user who has added it belongs to the zone and if it is true then it adds the zone to the zones associated with the smell.

[2021-07-20 14:37] vvalvesga commented on #72
i didn't make any changes
The problem I see is that you add observations with a user that is not assigned to that zone.

[2021-07-20 14:38] vvalvesga commented on #72
having that clear, you use a user that belongs to that zone. Then with that user you add observations.
I have not invented this logic, I only tell you that this is the procedure.

[2021-07-20 14:39] vvalvesga commented on #72
for me what you say about the id greater than 10000 does not make sense, that is, I do not see any relationship with any of the code

[2021-07-21 10:22] vvalvesga commented on #72
I think I have already found the reason why all the new observations came out yesterday @miguelherpas .

[2021-07-21 10:22] vvalvesga commented on #72
![imagen](https://user-images.githubusercontent.com/48445869/126473850-86b357e5-c334-4137-9463-9d77e1fa6712.png)

[2021-07-21 10:25] vvalvesga commented on #72
there is no process. But if there is this button, if you press it then it goes through all the areas, all the smells and checks if it is within a polygon, if so, then it associates the observation with the area.
Important: in this case, it does not check if the user is also associated with the zone.

Conclusion: I believe that someone has pressed that button and that is why the observations that w

[2021-07-21 13:57] vvalvesga commented on #45
In database, time is stored in UTC
In back office in odour list, published at field is calculated like this:

            $gmtTimezone = new DateTimeZone('UTC');
            $myDateTime = new DateTime($odour->published_at, $gmtTimezone);
            $offset = $userTimezone->getOffset($myDateTime);
            $myInterval=DateInterval::createFromDateString((string)7200 . 'seconds');
            $my

[2021-07-21 14:05] AlexAmoSfC commented on #45
Does anybody know why user timezone is hardcoded and forced to CET/CEST?
This has to be extremely unconvenient for @EmpressNaledi and @Malonsoroldan (not to mention is not portable/scalable)

[2021-07-21 15:11] AlexAmoSfC commented on #45
To my understanding, the design decision of hardcoding "Europe/Berlin" in OC forces zone admins in countries outsite central Europe time to always see wrong local observation timestamps.
confirmed with @JohanaSfC.
Either,

- a) we need to show all timestamps in UTC letting the user calculate local offsets for the observation, or
- b) calculate appropiate time offset of the observations based on zo

[2021-07-28 21:07] AlexAmoSfC opened #75 "Hedonic tone semantics inconsistence (app interface != database and export files)"
OC hedonic tone is treated inconsistenlty across the different components of OC (user frontoffice, admin backoffice, internal database, data export files)

See following list of values in user frontend (numerical values and related literals):

- -4 Extremely unpleasant
- -3 Very unpleasant
- -2 Unpleasant
- -1 Slightly unpleasant
- 0 Neutral
- 1 Slightly pleasant
- 2 Pleasant
- 3 Very pleasant
- 4

[2021-07-29 15:53] miguelherpas commented on #44
We checked the usability of this solution, and we consider that it is a good solution. Despite losing the time option in the filtering, the visualization in smartphones is not that important.

So it is good for us!

[2021-07-30 10:59] AlexAmoSfC commented on #75
Hi @frasanz. Thanks for the quick response pushing a fix.
I would like also to ammend the code internals, since some constant values were declared in a flawed fashion. Check out the literals MODERATE_UNPLEASANT and MODERATE_PLEASANT, which should become VERY_UNPLEASANT and VERY_PLEASANT.

Can you take a look? I estimate that this refactor, if performed correctly, does not have any potential for ca

[2021-07-30 11:15] frasanz commented on #75
Yes, I did that with the slugs (moderate-pleasant, moderate-unpleasant) ,

Regarding these two literals, there are used in translation variables for
the webview. Changed all of the from MODERATED_* to VERY_* (we need to
check nothing else is broken)

On Fri, 30 Jul 2021 at 12:59, Alex Amo at ScienceForChange <
***@***.***> wrote:

[2021-07-30 11:16] #75 closed, assigned to frasanz

[2021-07-30 11:16] #44 closed, assigned to frasanz

[2021-07-30 11:30] AlexAmoSfC commented on #75
Exactly, that is my request. Since the functionality is fixed and the remains only have to do with code quality, would you prefer me to open a new issue just for this refactor alone? I think this change will not cause any problem at all but we could open a new issue for observation and followup purposes if you want.

[2021-07-30 11:36] frasanz commented on #75
I did this refactor in the last commit

El vie., 30 jul. 2021 13:30, Alex Amo at ScienceForChange <
***@***.***> escribió:

[2021-07-30 11:57] AlexAmoSfC commented on #75
True. I was just suggesting to separate in a different issue and close it instantly for documentation purposes. Sorry if I did not explain myself correctly. if you are ok with this, we can close the topic. Thank you very much!
PS: don't forget to take a look at Jupyter notebook too. I have provided an auxiliary python module that you could be interested in checking out. I have uploaded an alternat

[2021-07-30 12:17] AlexAmoSfC commented on #75
Suggestion for all of those that have already generated excel files with observations:
mass search and replace the literal text "Moderate" for "Very"

[2021-07-30 12:44] frasanz commented on #31
Queda:
1) Comprobar que se generan bien las retrotrayectorias en observaciones nuevas
2) Comprobar las resoluciones que tenemos hasta ahora @frasanz , mirar lo de las claves de acceso

[2021-07-30 13:26] Malonsoroldan opened #76 "User to be able to modify personal data"
Through my profile page, the user should be able to modify:
- Email address - verification should be needed
- Age - better to ask for the year of birth
- Sex - include other
- Username
- To receive notifications

[2021-08-19 18:24] miguelherpas opened #77 "Language issues in the annoyance and hedonic tone scales"
Good evening,

I was just checking the app and I've realized that when you want to create a new observation the language in the intensity and hedonic tone do not appear in the language that is selected. It only appears in English and it can be confusing for many users.

I include a couple of screenshots to help you localize the issue.

Thanks in advance.

![image](https://user-images.githubusercon

[2021-08-20 13:29] #19 closed, assigned to frasanz

[2021-08-20 13:42] AlexAmoSfC commented on #54
Pending testing for confirmation @JohanaSfC @miguelherpas

[2021-08-20 13:43] AlexAmoSfC commented on #49
Pending confirmation that this is not happening anymore @frasanz

[2021-08-20 13:46] AlexAmoSfC commented on #77
closing as this seems to be working OK at time

[2021-08-20 13:46] #77 closed, assigned to nobody

[2021-08-20 13:55] frasanz commented on #72
Solution: If an observation belongs geographically to a Zone, put this observation to a zone.

[2021-08-20 14:15] AlexAmoSfC commented on #76
at this time, in register time, the gender needs to be answered forcefully.
but it has not been mandatory always.
so, we would suggest that gender of users already in database, if null, be converted to "not stated" or similar and adding the very same option to the register formulary.

[2021-08-20 14:16] frasanz commented on #49
It is not storing the username in the database when registering, needs to be fixed

[2021-09-09 13:12] JohanaSfC commented on #54
It works perfectly :) Thanks!

[2021-09-09 13:12] #54 closed, assigned to nobody

[2021-09-14 19:30] JohanaSfC opened #78 "User information isn´t exported correctly."
When I login into OC as ADMIN (https://admin.odourcollect.eu). I can export odour information of a case study.  I download the excel file where there is information about ID users. I find that observations were made by nine different users.

![image](https://user-images.githubusercontent.com/83076037/133319217-8768b281-9a54-4363-9d1d-9318ff16044e.png)

But, if I want to see user information, I can

[2021-09-15 04:22] #72 closed, assigned to nobody

[2021-09-15 05:26] #45 closed, assigned to frasanz, JohanaSfC

[2021-09-15 05:43] #49 closed, assigned to frasanz

[2021-09-15 06:21] frasanz commented on #69
I cant reproduce the error

As seen in the log, when creating an odor:

(1) The system creates an entry in the database in the odor_emails table (it uses the location->place value (the column place inside the location table))
(2) It send an email (this functionality is disabled)

Not sure why, in this case the system was not able to resolve the location (as you can see in the table,  there are few

[2021-09-15 06:21] #69 closed, assigned to nobody

[2021-09-15 07:53] AlexAmoSfC commented on #69
I can directly ask to the user to tell us the brand and model of terminal, as well as some basic configs and the android version.
My guess is that we are supporting combinations of setups that trigger this.

A per solving the problem, it may solve it, but we would continue having observations with no location (near to useless), right?

[2021-09-15 08:00] frasanz commented on #69
You have the location (latitude and longitude), but the library can not
resolve some details of the  place (that is, the city)

On Wed, 15 Sept 2021 at 09:53, Alex Amo at ScienceForChange <
***@***.***> wrote:

[2021-09-15 08:02] frasanz commented on #69
I mean, is not a terminal problem, but a library problem resolving the
city, street, etc from the geolocation

Fran

On Wed, 15 Sept 2021 at 10:00, Francisco Sanz García ***@***.***>
wrote:

[2021-09-15 08:06] frasanz commented on #69
Mapbox resolve street, country, etc. from latitude, longitude here:

https://github.com/Ibercivis/odourcollect.eu/blob/main/api-odourcollect/public/laravel/app/Http/Controllers/LocationController.php

But it fails in a few cases (not sure why, may a mapbox bug)

Fran

On Wed, 15 Sept 2021 at 10:02, Francisco Sanz García ***@***.***>
wrote:

[2021-09-28 14:58] frasanz commented on #71
Done in the database

[2021-09-28 14:59] frasanz commented on #71
Not found in the i18n files (translation files)

[2021-09-28 14:59] #71 closed, assigned to nobody

[2021-09-28 15:26] frasanz commented on #57
We are able to set the user/password in de development server. What I did was to:
1) include .htaccess file not to access to .env
2) add to laravel/config/app.php the following:
`  'debug_blacklist' => [
    '_COOKIE' => array_keys($_COOKIE),
    '_SERVER' => array_keys($_SERVER),
    '_ENV' => array_keys($_ENV),
    ],`

so we are not going to dump environment variables when an error happens

@Al

[2021-09-29 05:38] #78 closed, assigned to nobody

[2021-09-29 07:36] #58 closed, assigned to AlexAmoSfC

[2021-11-10 14:33] AlexAmoSfC opened #79 "Email notifications on user privilege changes of any type"
Users should receive an email when they become/leave being zone administrators, and maybe other types of similar changes.

[2022-06-22 04:46] #57 closed, assigned to vvalvesga

[2022-06-22 04:47] AlexAmoSfC commented on #57
Closed since the issue was left open accidentally. Last coment by @frasanz explains the solution taken.